<a href="https://colab.research.google.com/github/claire-yeonjeong/BAEKJOON-WITH-Python/blob/main/1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**10818번 최소, 최대**

N개의 정수가 주어진다. 이때 최솟값과 최대값을 구하는 프로그램을 작성하시오.

In [1]:
n = int(input())
nlist = list(map(int, input().split()))
nlist.sort()
print(nlist[0], nlist[-1])

5
1 5 6 2 3
1 6

**2562번 최댓값**

9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

In [2]:
nlist = []
for i in range(9):
  n = int(input())
  nlist.append(n)

max_n = 0
for n in nlist:
  if n > max_n:
    max_n = n

print(max_n)
print(nlist.index(max_n)+1)

4
5
1
3
2
7
4
3
2
7
6

**2577번 숫자의 개수**

세 개의 자연수 A, B, C가 주어질 때 AxBxC를 계산한 결과에 0부터 9까지의 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

In [3]:
n = 1
for i in range(0, 3):
  k = int(input())
  n = n * k

num = str(n)
for i in '0123456789':
  print(num.count(i))

36
12
56
0
1
2
0
1
0
0
0
0
1

**3052번 나머지 **

수 10개를 입력받은 뒤, 이릘 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개있는지 출력하는 프로그램을 작성하시오.

In [4]:
nlist = []
for i in range(10):
  n = int(input())
  k = n %42
  nlist.append(k)

result = len(set(nlist))  # set() : 중복값 없애기
print(result)

7
56
12
78
54
23
42
56
8
4
8

**1546번 평균**

세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다. 새로운 점수들의 평균을 구하는 프로그램을 작성하시오.

In [7]:
n = int(input())  # 과목의 개수
score = list(map(int, input().split()))  # 원래 점수
score_m = 0   # 최댓값 초기화

for i in range(n):
  if score[i] > score_m:
    score_m = score[i]
    i += 1

total = []
for j in range(n):
  result = (score[j]/score_m)*100
  total.append(result)
  j += 1

result = 0
for k in range(len(total)):
  result = result + total[k]
  k += 1
print(result/n)

3
90 100 55
81.66666666666667

**8958번 OX 문제**

"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. OX 퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

In [10]:
n = int(input())
for i in range(n):
  test = input()
  score = 0
  k = 0
  for ox in test:
    if ox == 'O':
      k += 1
      score += k
    else:
      k = 0
  print(score)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

**4344번 평균은 넘겠지**

첫째 줄에는 테스트 케이스의 개수 C가 주어진다. 둘째 줄부터 각 테이스트 케이스마다 학생의 수 N(1 <= N <= 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

In [4]:
c = int(input())
for i in range(c):
  score = list(map(int, input().split()))
  n = score[0]
  count = 0
  sum_s = 0

  for j in range(1, len(score)):
    sum_s += score[j]
    j += 1
  
  for i in range(1, len(score)):
    if score[i] > sum_s / score[0]:
      count += 1
  
  answer = count / score[0] * 100
  print('%.3f'%(answer)+'%')

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%