<a href="https://colab.research.google.com/github/claire-yeonjeong/BAEKJOON/blob/main/For%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2739번 구구단**

N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오.

In [1]:
n = int(input())
for i in range(1, 10):
  print(n, "*", i, "=", n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

**10950번 A+B -3**

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
첫째줄에 테스트 케이스의 개수 T가 주어진다.
각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A,B < 10)

In [2]:
t = int(input())
for i in range(t):
  a, b = map(int, input().split())
  print(a + b)

3
1 4
5
2 3
5
1 9
10

**8393번 합**

n이 주어졌을 때, 1부터 n까지의 합을 구하는 프로그램을 작성하시오.

In [3]:
n = int(input())
sum = 0
for i in range(n+1):
  sum += i
print(sum)

5
15

**2741번 기찍N**

자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [4]:
n = int(input())
for i in range(n):
  print(n - i)
  i += 1

5
5
4
3
2
1

**11021번 A+B -7**

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

In [7]:
t = int(input())
for i in range(t):
  a, b = map(int, input().split())
  print("Case #{} : {}".format(i+1, a+b))

3
4 5
Case #1 : 9
1 5
Case #2 : 6
5 6
Case #3 : 11

**11022번 A+B -8**

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
각 테이스 케이스마다 "Case #x : A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작한다. C는 A+B를 의미한다.

In [8]:
t = int(input())
for i in range(t):
  a, b = map(int, input().split())
  print("Case #{} : {} + {} = {}".format(i+1, a, b, a+b))

2
1 6
Case #1 : 1 + 6 = 7
3 8
Case #2 : 3 + 8 = 11

**2438번 별찍기 -1**

첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 프로그램을 작성하시오.

In [10]:
n = int(input())
for i in range(1, n+1):
  print("*" * i)
print()

7
*
**
***
****
*****
******
*******

**2439번 별찍기 -2**

첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 프로그램을 작성하시오. 단, 오른쪽을 기준으로 정렬한 별을 출력하시오.

In [11]:
n = int(input())
for i in range(1, n+1):
  print(" " * (n-i), end = "")
  print("*" * i)
print()

5
    *
   **
  ***
 ****
*****

**10871번 X보다 작은 수**

정수 N개로 이루어진 수열 A와 정수 X가 주어진다.
이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [15]:
n, x = map(int, input().split())
str = list(map(int, input().split()))
for i in str:
    if i < x:
        print(i, end=" ")

4 5
1 4 2 7 4
1 4 2 4

**15552번 빠른 A+B**

Python을 이용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다.
단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해주는 것이 좋다.
첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.

In [33]:
import sys
num=int(sys.stdin.readline())

for i in range (num):
    a,b=map(int,sys.stdin.readline().split())
    print(a+b)

ValueError: ignored