<a href="https://colab.research.google.com/github/claire-yeonjeong/BAEKJOON/blob/main/If%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1130번 두 수 비교하기**

두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.


*   A와 B보다 큰 경우에는 '>'를 출력
*   A가 B보다 작은 경우에는 '<'를 출력
* A와 B가 같은 경우에는 '=='를 출력

In [ ]:
A, B = list(map(int, input().split()))
if A > B : 
  print('>')
elif A < B :
  print('<')
else:
  print('==')

3 4
<

**9498번 시험 성적**

시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60~69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [ ]:
score = int(input())
if score >= 90 :
  print('A')
elif score >= 80 :
  print('B')
elif score >= 70 :
  print('C')
elif score >= 60 :
  print('D')
else:
  print('F')

85
B

**2753년 윤년**

연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.
윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

In [ ]:
year = int(input())
if (year%4 == 0 and year%100 != 0) or (year%400 == 0):
  print('1')
else:
  print('0')

2021
0

**14681번 사분면 고르기**

첫 줄에는 정수 x가 주어진다. (-1000 <= x <= 1000, x != 0)

다음 줄에는 정수 y가 주어진다. (-1000 <= y <= 1000, y != 0)

점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오.

In [ ]:
x = int(input())
y = int(input())

if x * y > 0:
  if x > 0 :
    print("1")
  else:
    print("3")
else:
  if x > 0:
    print("4")
  else:
    print("2")

4
-6
4

**2884번 알람 시계**

45분 일찍 알람 설정하기

첫째 줄에 두 정수 H와 M이 주어진다. (0 <= H <= 23, 0 <= M <= 59)

그리고 이것은 현재 상근이가 설정해놓은 알람 시간 H시 M분을 의미한다.
입력 시간은 24시간 표현을 사용한다. 

24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 시간을 나타낼 때, 불필요햔 0은 사용하지 않는다.

In [ ]:
H, M = map(int, input().split())
M = M - 45
if M < 0 :
  M = M + 60
  H = H - 1
  if H < 0:
    H = H + 24
print(H, M)

5 56
5 11